<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h3> Character Name :{{currentCharacter.name ? currentCharacter.name : 'Not Defined'}} </h3>
      <hr>
      <p> Culture: {{currentCharacter.culture ? currentCharacter.culture : 'Not Defined' }} </p>
      <hr>
      <p>Died: {{currentCharacter.died ? currentCharacter.died : 'Not Defined'}} </p>
      <hr>
      <p>Gender: {{currentCharacter.gender  ? currentCharacter.gender : 'Not Defined'}} </p>
      <hr>
      <p>Father: {{currentCharacter.father  ? currentCharacter.father : 'Not Defined'}} </p>
      <hr>
      <p>Mother: {{currentCharacter.mother  ? currentCharacter.mother : 'Not Defined'}} </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <a class="btn btn--lg btn-warning text-white" routerLink="/home"  > Go Home </a>
    </div>
  </div>
</div>